.App {
  background-color: #282c34;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  padding: 2%;
  min-height: 10vh;
  font-size: calc(10px + 1vmin);
  color: white;
}

.nav {
  background-color: #282c34;
  min-height: 10vh;
  font-size: calc(10px + 1vmin);
  color: white;
}

.welcome {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
