.App {
  background-color: #151515;
  font-family: "Roboto";
}

.App-header {
  box-shadow: 0 3px 5px rgba(68, 68, 68, 0.6);
  padding: 2% 2% 2% 0;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-header :link {
  color: #ffffff;
}

.Container {
  display: grid;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #ffffff;
  background-color: #5918df;
}

a:visited {
  color: #ffffff;
}

.Welcome {
  max-width: 1500px;
  min-height: 90vh;
  display: flex;
  font-weight: 300;
  font-size: calc(22px + 2vmin);
  color: white;
}

.About {
  min-height: 40vh;
  color: #fff;
  font-size: calc(10px + 2vmin);
  line-height: calc(10px + 3vmin);
  font-weight: 300;
}

.SocialLinks {
  font-size: calc(14px + 2vmin);

  font-weight: 400;
}

.SocialLinks a::after {
  display: inline-block;
  padding-left: 0.5rem;
  margin-right: 3rem;
  content: "→";
}
