.App {
  background-color: #151515;
  justify-content: center;
  font-family: "Roboto";
}

.App-header {
  box-shadow: 0 3px 5px rgba(68, 68, 68, 0.6);
  padding: 2% 2% 2% 0;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-header :link {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  background-color: #5918df;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Welcome {
  width: 80vw;
  max-width: 1500px;
  min-height: 90vh;
  display: flex;
  font-weight: 300;
  font-size: calc(20px + 2vmin);
  color: white;
}
